@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #1b2838;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.buscar,
.buscar::placeholder {
  background-color: #2a475e;
  color: #d7d7d7;
}

.promoCard {
  width: 280px;
  transition: transform 0.2s;
  background: linear-gradient(to bottom, #19587b, #2b87ae);
}

.promoCard:hover {
  transform: scale(1.03);
}

.desconto {
  background-color: #4c6b22;
  color: #beeb14;
}

.corValor {
  color: #beeb14;
}

#addCarrinho:hover {
  background-color: #547625;
}

#addCarrinho:disabled {
  background-color: #4c6b22;
}

input.form-control:focus {
  box-shadow: none;
}

.buttons {
  color: #67c1f5;
  background: rgba(65, 122, 155, 0.5);
}
.buttons:hover {
  background: rgba(65, 122, 155, 0.7);
}
.bg_gradient {
  background: linear-gradient(90deg, #beeb14 1%, #6c850b 100%);
}
.buy {
  background: linear-gradient(90deg, #2d3b4a 0%, #3d4f63 100%);
}
.gradientFundo {
  background: linear-gradient(180deg, rgba(76, 113, 158, 0.3) 0%, rgba(27, 40, 56, 0.7) 100%);
}
